- results.businesses.each do |location|
  %li
    = location.name
    %ul
      %li= location.try(:display_phone)
      %li= location.categories.map{|c| c[0]}.join(', ')
      - taxi_fare = location.distance.round(0)*0.00412
      %li
        Apprx taxi fare is #{number_to_currency(taxi_fare)}
      - walking = GoogleDirections.new("M6J 2L5", location.location.display_address.join, {mode: :walking})
      %li= "Time to walk #{walking.drive_time_in_minutes}min"
